extends shared/layout.pug

block content 
    form(action="/add-user", method="POST").add-user__form
        .form-control
            label(for="user") User 
            input(type="text" name="user")#user 
        button(type="submit") Add User  